.morspeaker{
    font-size: 1.3rem;
    font-weight: 600;
    color:rgb(178, 30, 30);
  
  }
  .acc{
    display: flex;
    align-items: center;
    padding: 1rem;
    margin: 0 auto;
    width: 100%;
  }

.acc img{
  width: 50%;
}

@media screen and (max-width: 768px){
  .acc{
    flex-direction: column;
    gap: 1rem;

  }
  .acc img{
    width: 100%;
    
  }
}