 .datetype{
    margin-top: 1rem;
    margin-bottom: 1rem;
 }
 
 .datetype .datetitle{
    font-size: 1.1rem;
    padding: 2px;
    color: rgb(0, 146, 202);
    text-align: left;

}
.datetype .datedate{
    font-size: 1rem;
    padding-left: 3px;
    color: rgb(156, 28, 27);
    text-align: left;


}
@media  screen and (max-width: 768px){
    .datetype{
        margin-top: 0.5rem !important;
        margin-bottom: 0.5rem !important;
    }
    .datetype .datetitle{
        font-size: .9rem !important;
        padding: 2px;
        color: rgb(0, 146, 202);
        text-align: left;
    }
    .datetype .datedate{
        font-size: 0.8rem !important;
        padding-left: 3px;
        color: rgb(156, 28, 27);
        text-align: left;
    }
    
}