.accepted .rightside {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
}

.nitp-img img {
  width: 100%;
  height: 45vh;
  object-fit: cover;
}
@media only screen and (max-width: 600px) {
  .nitp-img img {
    width: 100%;
    height: 30vh;
    object-fit: cover;
  }
}
