.accepted .rightside {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
}

.nitp-img img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.speakerheading {
  font-size: 1.6rem;
  font-weight: 600;
  margin: 1rem 0;
  color: brown;
}
.speakers {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 3rem;
  margin: 2rem;
  min-height: 10vh;
  margin-bottom: 4rem;
}
.hometext1 {
  font-size: 1rem;
  font-weight: 400;
  margin: 3rem;
}
.hometext2 {
  margin: 1rem auto;
  text-align: center;
  font-size: 1.5rem;
}

.morspeaker {
  font-size: 1.3rem;
  font-weight: 600;
  color: rgb(178, 30, 30);
}
.nospeaker {
  font-size: 1.3rem;
  font-weight: 600;
  color: rgb(178, 30, 30);
}
.conthemes {

  margin-top: 1rem;
  margin-bottom: 3rem;
}
.conthemetitle {
  font-size: 1.5rem;
  font-weight: 600;

  color: brown;
}
.contheme {
  margin: 0 3rem;
}
.contheme li {
  font-size: 1.2rem;
  font-weight: 400;
  margin: 0.4rem 0;
}
.fle{
  display: flex;
}
@media only screen and (max-width: 1025px) {
  .speakers {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media only screen and (max-width: 768px) {
  .speakers {
    grid-template-columns: 1fr 1fr;
  }
  .fle{
    flex-direction: column;
  }
}
@media only screen and (max-width: 600px) {
  .nitp-img img {
    width: 100%;
    height:auto;
    object-fit: cover;
  }
  .speakers {
    grid-template-columns: 1fr;
    place-items: center;
  }
  .contheme li {
    text-align: left;
    font-size: 0.9rem;
  }
  .hometext1 {
    margin: 0.7rem;
  }
  .conthemetitle {
    font-size: 1.3rem;
    font-weight: 600;
  }
}
.venue-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-top: 20px;
  justify-content: center;
  
}

.image-container img {
  width: 100%;
  height: auto;
  max-width: 600px;
}

.map-container iframe {
  width: 600px;
  height: 100%;
}

@media (max-width: 768px) {
  .venue-container {
    flex-direction: column;
    width: 100%;
  }
  .image-container img {
    width: 100%;
  }
  .map-container iframe {
    height: 300px;
    width: 100%;
  }
}
