.card{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    width: 250px;
    margin-buttom: 1rem;

}
.card img{
    width: 100%;
    height: 35vh;
}
.card h1{
    font-size: 1.3rem;
    font-weight: 600;
    text-align: center;
    color: brown;
}
.card p{
    font-size: .9rem;
    font-weight: 400;
    text-align: center;

}
