.notice {
  min-height: 45vh;
  max-height: 45vh;
  overflow-y: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(148, 27, 12);
  /* border-radius: 1rem; */
 
}
@media only screen and (max-width: 600px) {
  .notice {
    min-height: 30vh;
    max-height: 30vh;
    overflow-y: auto;
  }
}
.notice h1 {

  font-weight: 800;
  margin-bottom: 0.5rem;
}
.notice .notice-content {
  padding-left: 1rem;
  display: flex;
  flex-direction: column;
}
.harshit {
  display: flex;
  margin-bottom: 1rem;
}

.title {
  width: 100%;
  background-color: #00405d;
  color: white;
  padding: 3px;
  margin: 0;
  padding-left: 7px;
  font-size: 1.1rem;
}
.harshit .notice-title {
  font-size: 1.1rem;
  font-weight: bold;
  color: rgb(155, 20, 17);
  text-decoration: none;
}
